<div style="padding-left: 10%; text-align: left;" [formGroup]="form">
  <label class="swe-label">Interessen</label>
  <mat-checkbox
    type="checkbox"
    id="reisenInput"
    formControlName="reisen"
    name="reisen"
  >
    Reisen
  </mat-checkbox>
  <mat-checkbox
    type="checkbox"
    id="lesenInput"
    formControlName="lesen"
    name="lesen"
  >
    Lesen
  </mat-checkbox>
  <mat-checkbox
    type="checkbox"
    id="sportInput"
    formControlName="sport"
    name="sport"
  >
    Sport
  </mat-checkbox>
</div>
