<mat-form-field appearance="outline" [formGroup]="form">
  <mat-label for="waehrungInput">Währung</mat-label>
  <mat-select
    matInput
    id="waehrungInput"
    formControlName="waehrung"
    name="waehrung"
    matNativeControl
  >
    <mat-option value="EUR">Euro</mat-option>
    <mat-option value="GBP">Britische Pfund</mat-option>
    <mat-option value="USD">US-Dollar</mat-option>
    <mat-option value="CHF">Schweizer Franken</mat-option>
    <mat-option value="AUD">Australische Dollar</mat-option>
    <mat-option value="JPY">Japanische Yuan</mat-option>
  </mat-select>
</mat-form-field>
