<div style="text-align: left; padding-left: 10%;" [formGroup]="form">
  <label for="familienstandInput" class="swe-label">Familienstand</label>
  <mat-radio-group
    matInput
    id="familienstandInput"
    formControlName="familienstand"
    name="familienstand"
  >
    <mat-radio-button value="L" [checked]="familienstand.value === 'L'"
      >Ledig</mat-radio-button
    >
    <mat-radio-button value="VH" [checked]="familienstand.value === 'VH'"
      >Verheiratet</mat-radio-button
    >
    <mat-radio-button value="VW" [checked]="familienstand.value === 'VW'"
      >Verwitwet</mat-radio-button
    ><mat-radio-button value="G" [checked]="familienstand.value === 'G'"
      >Geschieden</mat-radio-button
    >
  </mat-radio-group>
</div>
