<div>
  <div>
    <mat-form-field appearance="outline" [formGroup]="form">
      <mat-label>Password</mat-label>
      <input
        matInput
        id="passwordInput"
        type="password"
        placeholder="Passwort eingeben"
        formControlName="password"
    /></mat-form-field>

    <div style="color: red;" *ngIf="password.invalid && password.touched">
      <div *ngIf="password.errors && password.errors.required">
        <i class="material-icons">error</i>
        <span>Ein Passwort muss eingegeben werden.</span>
      </div>
    </div>
  </div>
</div>
