.swe-mobile-menu {
  display: none;
}

.swe-burger-menu {
  background: transparent;
  border: none;
  -webkit-user-select: auto;
  -webkit-app-region: no-drag;
}

@media only screen and (max-width: 600px) {
  .swe-mobile-menu {
    display: block;
  }
  .swe-desktop-menu {
    display: none;
  }
}
