.swe-mobile-menu {
  display: none;
  background: transparent;
  border: none;
}

.swe-desktop-menu a {
  color: white;
  padding: 0 10px;
}

@media only screen and (max-width: 600px) {
  .swe-mobile-menu {
    display: block;
  }
  .swe-desktop-menu {
    display: none;
  }
}
