@media only screen and (min-width: 1024px) {
  .swe-main {
    width: 80%;
    padding: 30px;
    margin: 0 auto;
  }
}
.swe-main-container {
  background-color: #f5f5f7;
  overflow: auto;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 65px;
  bottom: 0px;
}
