<div *ngIf="kunde">
  <swe-details-nachname [nachname]="kunde.nachname"></swe-details-nachname>
  <swe-details-email [email]="kunde.email"></swe-details-email>
  <swe-details-kategorie [kategorie]="kunde.kategorie"></swe-details-kategorie>
  <swe-details-newsletter [newsletter]="kunde.newsletter"></swe-details-newsletter>
  <swe-details-geburtsdatum [formatted]="kunde.geburtsdatumFormatted"></swe-details-geburtsdatum>
  <swe-details-umsatz [umsatz]="kunde.umsatz"></swe-details-umsatz>
  <swe-details-homepage [homepage]="kunde.homepage"></swe-details-homepage>
  <swe-details-geschlecht [geschlecht]="kunde.geschlecht"></swe-details-geschlecht>
  <swe-details-familienstand [famielnstand]="kunde.familienstand"></swe-details-familienstand>
</div>
