// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$acme-primary: mat-palette($mat-blue-grey);
$acme-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$acme-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$acme-theme: mat-light-theme($acme-primary, $acme-accent, $acme-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($acme-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.material-icons {
  vertical-align: middle;
}
.swe-error-snackbar {
  z-index: 1001;
  background-color: red !important;
  color: #f5f5f7 !important;
}
.swe-success-snackbar {
  background-color: #28a745;
  color: #f5f5f7;
}
.swe-success-snackbar button {
  color: #f5f5f7;
}
.swe-error-snackbar button {
  color: #f5f5f7 !important;
}

@media only screen and (min-width: 601px) {
  .swe-nav-link {
    color: #f5f5f7;
    cursor: pointer;
    padding: 0 10px;
    -webkit-user-select: auto;
    -webkit-app-region: no-drag;
  }
}

a.swe-nav-link:hover {
  color: white !important;
}

input:active,
input:focus {
  border: none;
  outline: none;
}

.swe-headline {
  text-align: center;
  font-size: 40px !important;
}

.mat-form-field {
  width: 80%;
}

.swe-label {
  width: 100px;
}

mat-radio-button,
mat-checkbox {
  width: 100px;
  display: inline-block;
}
