<mat-card style="text-align: center;">
  <mat-card-content>
    <h1 class="swe-headline">Erstellen</h1>
    <hr style="width: 80%;" />
    <swe-create-username [form]="form"></swe-create-username>
    <swe-create-password [form]="form"></swe-create-password>
    <swe-details-nachname
      [isDisabled]="false"
      [form]="form"
    ></swe-details-nachname>
    <swe-details-email [isDisabled]="false" [form]="form"></swe-details-email>
    <swe-details-homepage
      [isDisabled]="false"
      [form]="form"
    ></swe-details-homepage>
    <swe-details-betrag [isDisabled]="false" [form]="form"></swe-details-betrag>
    <swe-details-waehrung
      [isDisabled]="false"
      [form]="form"
    ></swe-details-waehrung>
    <swe-details-ort [isDisabled]="false" [form]="form"></swe-details-ort>
    <swe-details-plz [isDisabled]="false" [form]="form"></swe-details-plz>
    <swe-details-kategorie
      [isDisabled]="false"
      [form]="form"
    ></swe-details-kategorie>
    <swe-details-geburtsdatum
      [isDisabled]="false"
      [form]="form"
    ></swe-details-geburtsdatum>
    <swe-details-geschlecht
      [isDisabled]="false"
      [form]="form"
    ></swe-details-geschlecht>
    <swe-details-familienstand
      [isDisabled]="false"
      [form]="form"
    ></swe-details-familienstand>
    <swe-details-newsletter
      [form]="form"
      [isDisabled]="false"
    ></swe-details-newsletter>
    <button
      mat-raised-button
      style="margin-top: 30px;"
      color="primary"
      type="submit"
      (click)="onSave()"
      [disabled]="form.pristine || form.invalid"
    >
      <i class="material-icons">check</i>
      <span>Stammdaten aktualisieren</span>
    </button>
  </mat-card-content>
</mat-card>
