<swe-waiting *ngIf="waiting; else details"></swe-waiting>
<ng-template #details>
  <mat-card *ngIf="kunde; else showErrorMsg" style="text-align: center;">
    <mat-card-content>
      <h1 class="swe-headline">Details</h1>
      <mat-slide-toggle (change)="onChange($event)"
        >Bearbeiten</mat-slide-toggle
      >
      <hr style="width: 80%;" />
      <mat-form-field appearance="outline">
        <mat-label>ID</mat-label>
        <input matInput disabled id="idInput" [value]="kunde._id"
      /></mat-form-field>
      <swe-details-nachname
        [isDisabled]="true"
        [form]="form"
        [currentValue]="kunde.nachname"
      ></swe-details-nachname>
      <swe-details-email
        [isDisabled]="true"
        [form]="form"
        [currentValue]="kunde.email"
      ></swe-details-email>
      <swe-details-homepage
        [isDisabled]="true"
        [form]="form"
        [currentValue]="kunde.homepage"
      ></swe-details-homepage>
      <swe-details-betrag
        [isDisabled]="true"
        [form]="form"
        [currentValue]="kunde.umsatz ? kunde.umsatz.betrag : undefined"
      ></swe-details-betrag>
      <swe-details-waehrung
        [isDisabled]="true"
        [form]="form"
        [currentValue]="kunde.umsatz ? kunde.umsatz.waehrung : undefined"
      ></swe-details-waehrung>
      <swe-details-ort
        [isDisabled]="true"
        [form]="form"
        [currentValue]="kunde.adresse.ort"
      ></swe-details-ort>
      <swe-details-plz
        [isDisabled]="true"
        [form]="form"
        [currentValue]="kunde.adresse.plz"
      ></swe-details-plz>
      <swe-details-kategorie
        [isDisabled]="true"
        [form]="form"
        [currentValue]="kunde.kategorie"
      ></swe-details-kategorie>
      <swe-details-geburtsdatum
        [isDisabled]="true"
        [form]="form"
        [currentValue]="kunde.geburtsdatum"
      ></swe-details-geburtsdatum>
      <swe-details-geschlecht
        [isDisabled]="true"
        [form]="form"
        [currentValue]="kunde.geschlecht"
      ></swe-details-geschlecht>
      <swe-details-familienstand
        [isDisabled]="true"
        [form]="form"
        [currentValue]="kunde.familienstand"
      ></swe-details-familienstand>
      <swe-details-interessen
        [isDisabled]="true"
        [form]="form"
        [kunde]="kunde"
      ></swe-details-interessen>
      <swe-details-newsletter
        [form]="form"
        [currentValue]="kunde.newsletter"
        [isDisabled]="true"
      ></swe-details-newsletter>
      <button
        mat-raised-button
        style="margin-top: 30px;"
        color="primary"
        type="submit"
        (click)="onUpdate()"
        [disabled]="form.pristine || form.invalid || form.disabled"
      >
        <i class="material-icons">check</i>
        <span>Stammdaten aktualisieren</span>
      </button>
    </mat-card-content>
  </mat-card>
  <ng-template #showErrorMsg>
    <swe-error-message [text]="errorMsg"></swe-error-message>
  </ng-template>
</ng-template>
