<div>
  <mat-form-field>
    <mat-label>Kategorie</mat-label>
    <select
      matInput
      id="kategorieInput"
      [(ngModel)]="kategorie"
      name="kategorie"
      matNativeControl
    >
      <option value="">Keine Kategorie</option>
      <option value="0">Kategorie 0</option>
      <option value="1">Kategorie 1</option>
      <option value="2">Kategorie 2</option>
      <option value="3">Kategorie 3</option>
      <option value="4">Kategorie 4</option>
      <option value="5">Kategorie 5</option>
      <option value="6">Kategorie 6</option>
      <option value="7">Kategorie 7</option>
      <option value="8">Kategorie 8</option>
      <option value="9">Kategorie 9</option>
    </select>
  </mat-form-field>
</div>
